{% extends 'tareas/base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">Iniciar Sesión</h3>
    <form method="post">
      {% csrf_token %}
      
      <!-- Usuario -->
      <div class="mb-3">
        <label class="form-label">Usuario:</label>
        <input type="text" name="username" class="form-control" placeholder="Ingrese su usuario" required>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
      </div>

      <!-- Botón -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
