# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Entornos virtuales
venv/
.env

# Archivos de configuración locales
*.env
*.local

# Archivos de compilación
*.egg-info/
build/
dist/

# VSCode / PyCharm
.vscode/
.idea/

# Archivos estáticos generados
staticfiles/
